// TEXT
.u-center-text { text-align: center; }

// MARGIN
.u-margin-bottom-xs { margin-bottom: 1rem !important; }
.u-margin-bottom-sm { margin-bottom: 2rem !important; }
.u-margin-bottom-md { margin-bottom: 4rem !important; }
.u-margin-bottom-lg { margin-bottom: 6rem !important; }
