// TEXT
.u-center-text { text-align: center; }

// MARGIN
.u-margin-bottom-xs { margin-bottom: 1rem !important; }
.u-margin-bottom-sm { margin-bottom: 2rem !important; }
.u-margin-bottom-md { margin-bottom: 4rem !important; }
.u-margin-bottom-lg { margin-bottom: 6rem !important; }


// SIZE
.u-btn-size-md { min-width: 16rem !important; height: 5rem !important;}


// LINK
.u-active-link {border-bottom: 2px solid rgba(67, 186, 78, 0.86) !important;}
