<mat-card class="photo-card" *ngIf="photo?.download_url">
  <img mat-card-image [ngSrc]="photo.download_url" width="300" height="240" alt=""
       (click)="showPhotoDetails()"
  >
  <mat-card-actions>
    <button mat-button
            *ngIf="isVisibleBtnAddToFavorites"
            (click)="onAddToFavorites(photo)">Add to favorites</button>
    <button mat-button
            *ngIf="isVisibleBtnRemoveFromFavorites"
            (click)="onRemoveFromFavorites(photo)">Remove from favorites</button>
  </mat-card-actions>
</mat-card>
