.container {
  max-width: $container-max-width;
  min-height: $container-min-height;
  margin: 0 auto;
  padding: 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 43px 2px;
  background-color: rgb(243, 176, 43);
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24rem;
    height: 5rem;
  }
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.2rem 1.6rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 24rem;
    height: 5rem;
  }
}

.content {
  display: flex;
  padding: 2rem 2rem;
}
